<tr class='row m-0'>
  <th class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 d-flex justify-content-center"><%= chapter['position'] %></th>
  <th class="col-8 col-sm-8 col-md-8 col-lg-10 col-xl-10">
  	<%= link_to(chapter['title'], chapter_path(chapter['id'])) %>
  </th>
  <th class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 d-flex justify-content-center">
  	<% if chapter['status'] %>
  		<%= fa_icon "eye", class: 'eye__show' %>
  	<% else %>
  		<%= fa_icon "eye-slash", class: 'eye__not-show' %>
  	<% end %>
  </th>
</tr>