<%= render :partial => 'layouts/navigation' %>

<div class="row-fluid manga__list pt-5" id="mangas">
	<%= render :partial => 'layouts/manga_show', :collection => @mangas, :as => :manga %>
</div>

<div class="row-fluid pt-5 d-flex justify-content-center">
	<%#= will_paginate @mangas%>
</div>