<%= render :partial => 'layouts/navigation' %>

<div class="row p-2 m-0 d-flex justify-content-center align-items-center">
  <%= link_to(mangas_path, class: 'btn btn-info mr-2') do %>
    <%= fa_icon "long-arrow-left" %>
  <% end %>
  <h4 class="m-0"><%= @manga.title %></h4>
</div>

<div class="row-fluid pb-5" id="manga">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 table-responsive">
		<table class="table table-hover table-sm">
			<thead>
        <tr class='row m-0'>
          <th class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 d-flex justify-content-center">#</th>
          <th class="col-8 col-sm-8 col-md-8 col-lg-10 col-xl-10">Название</th>
          <th class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 d-flex justify-content-center">Статус</th>
        </tr>
      </thead>
      <tbody>
      	<%= render :partial => 'mangas/chapter', :collection => @chapters, :as => :chapter %>
      </tbody>
		</table>
	</div>
</div>