<%- if controller_name != 'sessions' %>
  <div class='session-shared-links'><%= link_to "Войти", new_session_path(resource_name) %></div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class='session-shared-links'><%= link_to "Зарегистрироваться", new_registration_path(resource_name) %></div>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class='session-shared-links'><%= link_to "Восстановить пароль", new_password_path(resource_name) %></div>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div class='session-shared-links'><%= link_to "Подтвердить аккаунт", new_confirmation_path(resource_name) %></div>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <div class='session-shared-links'><%= link_to "Разблокировать аккаунт", new_unlock_path(resource_name) %></div>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div class='session-shared-links'><%= link_to "Войти с #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %></div>
  <% end -%>
<% end -%>
