<%= render :partial => 'layouts/navigation' %>

<div class="container mt-5 mb-5">
	<div class="card mt-3">
		<div class="card-header">
			<b>URL:</b> <code>/api/v1/users/sign_in</code>
		</div>
		<div class="card-body">
			<p class="card-text">
				<b>Method:</b> POST
			</p>
			<p class="card-text">
				<b>Description:</b> Получить uuid пользователя
			</p>
			<p class="card-text">
				<b>Request body:</b> 
				<code>
					{ email: string, password: string }
				</code>
			</p>
			<p class="card-text">
				<b>Response:</b> 
				<code>
					{ id: uuid }
				</code>
			</p>
			<p class="card-text">
				<b>Response statuses:</b> 
				<code>
					200, 400, 404, 500
				</code>
			</p>
		</div>
	</div>

	<div class="card mt-3">
		<div class="card-header">
			<b>URL:</b> <code>/api/v1/users/:id</code>
		</div>
		<div class="card-body">
			<p class="card-text">
				<b>Method:</b> GET
			</p>
			<p class="card-text">
				<b>Description:</b> Получить закладки пользователя
			</p>
			<p class="card-text">
				<b>Request params:</b> 
				<code>
					{ id: uuid }
				</code>
			</p>
			<p class="card-text">
				<b>Response:</b>
				<code>
					{ 
						id: uuid,
						mangamarks: [
							{
								id: uuid,
								manga: {
									id: uuid,
									title: string,
									cover: string
								}
							}
						]
					}
				</code>
			</p>
			<p class="card-text">
				<b>Response statuses:</b> 
				<code>
					200, 400, 404, 500
				</code>
			</p>
		</div>
	</div>

	<div class="card mt-3">
		<div class="card-header">
			<b>URL:</b> <code>/api/v1/mangas/:id</code>
		</div>
		<div class="card-body">
			<p class="card-text">
				<b>Method:</b> GET
			</p>
			<p class="card-text">
				<b>Description:</b> Получить мангу и её главы
			</p>
			<p class="card-text">
				<b>Request params:</b> 
				<code>
					{ id: uuid }
				</code>
			</p>
			<p class="card-text">
				<b>Response:</b>
				<code>
					{ 
						id: uuid,
						title: string,
						cover: string,
						chapters: [
							{
								id: uuid,
								title: string,
								position: integer
							}
						]
					}
				</code>
			</p>
			<p class="card-text">
				<b>Response statuses:</b> 
				<code>
					200, 400, 404, 500
				</code>
			</p>
		</div>
	</div>

	<div class="card mt-3">
		<div class="card-header">
			<b>URL:</b> <code>/api/v1/chapters/:id</code>
		</div>
		<div class="card-body">
			<p class="card-text">
				<b>Method:</b> GET
			</p>
			<p class="card-text">
				<b>Description:</b> Получить главу манги и её страницы
			</p>
			<p class="card-text">
				<b>Request params:</b> 
				<code>
					{ id: uuid }
				</code>
			</p>
			<p class="card-text">
				<b>Response:</b>
				<code>
					{ 
						id: uuid,
						title: string,
						position: number;
						manga_id: uuid,
						images: [
							{
								link: string,
								position: integer
							}
						]
					}
				</code>
			</p>
			<p class="card-text">
				<b>Response statuses:</b> 
				<code>
					200, 400, 404, 500
				</code>
			</p>
		</div>
	</div>
</div>