<%= render :partial => 'layouts/navigation' %>

<div class="row p-2 m-0 d-flex justify-content-center align-items-center">
	<%= link_to(manga_path(@chapter.manga_id), class: 'btn btn-warning mr-2') do %>
		List
	<% end %>
</div>

<div class="row p-2 m-0 d-flex justify-content-center align-items-center">
	<% if @chapter.prev_id %>
		<%= link_to(chapter_path(@chapter.prev_id), class: 'btn btn-info mr-2') do %>
			<%= fa_icon "long-arrow-left" %>
		<% end %>
	<% end %>

	<h4 class="m-0"><%= @chapter.title %></h4>

	<% if @chapter.next_id %>
		<%= link_to(chapter_path(@chapter.next_id), class: 'btn btn-info ml-2') do %>
			<%= fa_icon "long-arrow-right" %>
		<% end %>
	<% end %>
</div>

<div class="row p-2 m-0">
	<div class="col-sm-4 d-flex justify-content-center"><button class="btn btn-primary" id="slidesPrev">Prev</button></div>
	<div class="col-sm-4 d-flex justify-content-center"><span id="slidesPosition"></span></div>
	<div class="col-sm-4 d-flex justify-content-center"><button class="btn btn-primary" id="slidesNext">Next</button></div>
</div>

<div class="row-fluid h-100 pb-5">
	<div id="chapter__images">
		<div class="chapter__image d-flex justify-content-center" id="currentSlide">
		</div>
  </div>
</div>

<script type="text/javascript">
	$(function() {
		const images = <%= @chapter.images.pluck(:id).to_json.html_safe %>;

		let current_slide = 1

		function render(position) {
			new Promise(function(resolve, reject) {
				$("#currentSlide").html("<%= j render :partial => 'layouts/preloader' %>")
				$.post("<%= show_image_path %>", { id: images[current_slide - 1] })
				$('#slidesPosition').text(`${current_slide}/${images.length}`)
			})
		}

		render(current_slide)

		$('#slidesPrev').on('click', function() {
			if (current_slide > 1) {
				current_slide -= 1
				render(current_slide)
			}
		})

		$('#slidesNext').on('click', function() {
			if (current_slide < images.length) {
				current_slide += 1
				render(current_slide)
			}
		})

	})
</script>