<%= render :partial => 'layouts/navigation' %>

<div class="row-fluid" id="searchs">
	<div class="col-sm-12 d-flex justify-content-center p-5">
		<%= form_with(url: search_path, method: :post, remote: true, class: 'form-inline', id: 'searchForm') do %>
			<div class="form-group mx-sm-3">
				<%= text_field_tag(:title, nil, placeholder: 'Название манги...', class: 'form-control', autocomplete: :off) %>
			</div>
			<%= submit_tag('Искать', class: 'btn btn-primary') %>
		<% end %>
	</div>
</div>

<div class="row-fluid manga__list" id="searchResults"></div>

<script type="text/javascript">
	$(function() {
		$("#searchForm").on('submit', function() {
			$("#searchResults").html("<%= j render :partial => 'layouts/preloader' %>")
		})
	})
</script>