<% if @mangas.blank? %>
	$('#searchResults').html("<%= j render :partial => 'searchs/notfound' %>")
<% else %>
	$('#searchResults')
		.html("<%= j render :partial => 'layouts/manga_search', :collection => @mangas, :as => :manga %>")
<% end%>