<div class="manga__item" id="<%= manga[:index] %>">
	<div class="manga__cover"><%= image_tag(manga[:cover_base64], alt: manga[:title], title: manga[:title]) %></div>
	<div class="manga__title"><%= manga[:title] %></div>
	<div class="manga_buttons">
		<%= button_to(mangamarks_path, method: :post, remote: true, params: { manga: manga.slice(:title, :cover, :link) }, class: 'manga__button add btn btn-dark') do %>
			Добавить
		<% end %>
	</div>
</div>