<div class="manga__item" id="<%= manga['id'] %>">
	<div class="manga__cover"><%= image_tag(manga['cover_base64'], alt: manga['title'], title: manga['title']) %></div>
	<div class="manga__title"><%= manga['title'] %></div>
	<div class="manga_buttons">
		<%= link_to('Читать', manga_path(manga['id']), class: 'manga__button show btn btn-dark') %>
		<%= link_to(mangamark_path(manga['id']), class: 'manga__button destroy btn btn-danger', method: :delete, remote: true) do %><%= fa_icon "trash" %><% end %>
	</div>
</div>
