<div class="row-fluid" id="navigations">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">MangaReader</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= 'active' if @search_path %>">
          <%= link_to 'Поиск', searchs_path, class: 'nav-link'%>
        </li>
        <li class="nav-item <%= 'active' if @manga_path %>">
          <%= link_to 'Закладки', mangas_path, class: 'nav-link'%>
        </li>
        <li class="nav-item <%= 'active' if @api_path %>">
          <%= link_to 'API', api_path, class: 'nav-link'%>
        </li>
      </ul>
      <%= link_to(destroy_user_session_path, class: 'leave', method: :delete) do %>
        <%= fa_icon "sign-out" %>
      <% end %>
    </div>
  </nav>
</div>