<!DOCTYPE html>
<html>
  <head>
    <title>MdProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container-fluid p-0">
    <div class="row-fluid">
      <%= yield %>
    </div>
  </body>
</html>
